= task_form_for task, :as => :task, html: {class: 'task_params'} do |f|
  .row
    .span4.first_model
      .data_model_examples
        - first_matrix_examples.each do |data_model, matrix|
          %div{class: data_model}<= matrix
      = f.fields_for :first_motif do |motif_form|
        .data_model
          = motif_form.input :data_model, label: 'Data model', include_blank: false
        .matrix
          = motif_form.input :matrix, label: 'First matrix:', :as => :text
    .span4.second_model
      .data_model_examples
        - second_matrix_examples.each do |data_model, matrix|
          %div{class: data_model}<= matrix
      = f.fields_for :second_motif do |motif_form|
        .data_model
          = motif_form.input :data_model, label: 'Data model', include_blank: false
        .matrix
          = motif_form.input :matrix, label: 'Second matrix:', :as => :text

  Advanced options:
  .expand_button
    %a{href: '#'} [+]
  .advanced_options
    .row
      .span3.pvalue
        = f.input :pvalue, label: 'P-value:'
      .span3.pvalue_boundary
        = f.input :pvalue_boundary, label: 'P-value boundary:', include_blank: false
    = render partial:'shared/background_model', locals: {form_builder: f, background_variable: :background, background_title: 'Background'}

    .dicretization
      = f.input :discretization, label: 'Discretization:'
    .row
      .span4.data_model_specifiers.first_model
        = f.fields_for :first_motif do |motif_form|
          .pseudocount
            = motif_form.input :pseudocount, placeholder: 'Leave empty to use default value (logarithm of count)'
          .effective_count
            = motif_form.input :effective_count
      .span4.data_model_specifiers.second_model
        = f.fields_for :second_motif do |motif_form|
          .pseudocount
            = motif_form.input :pseudocount, placeholder: 'Leave empty to use default value (logarithm of count)'
          .effective_count
            = motif_form.input :effective_count
  %br
  = f.submit 'Run', data: {disable_with: 'Sending request'}
