.result_data
  .similarity
    .label Similarity:
    .value= task_results[:similarity]
    .download_results= download_link t('task_layout.download_results'), ticket, 'task_results.yaml'
    .alignment_logo= show_image(ticket, 'alignment.png')
.input_data
  .row
    .matrix.span3
      .logo= show_image(ticket, 'pcm_first_direct.png')
      .label
        First PWM
        = download_list ticket, {'pcm' => 'pcm_first.pcm', 'ppm' => 'ppm_first.ppm', 'pwm' => 'pwm_first.pwm'}
      %pre= motif_pretty_print(first_motif_pwm)
    .matrix.span3
      .logo= show_image(ticket, "pcm_second_#{task_results[:orientation]}.png")
      .label
        Second PWM
        = download_list ticket, {'pcm' => 'pcm_second.pcm', 'ppm' => 'ppm_second.ppm', 'pwm' => 'pwm_second.pwm'}
      %pre= motif_pretty_print(second_motif_pwm)
  .row
    .span3
      = download_link t('task_layout.task_details'), ticket, 'task_params.yaml'
