.row
  #task.span8
    = render partial: 'form', locals: {task: @task}
  #info.span4
    = image_tag_if_exists task_logo, class: 'task_logo'
    .task_description
      %h4= @task.task_description
      = link_to action: 'description' do
        .help_img
    %hr
    .parameter
      .hint Click a field in the form on the left to get a hint
      .description
      .errors
    %hr
    .task_errors
      - if @task.errors.any?
        %h4
          Please fix following errors:
        %ul
          - @task.errors.full_messages.each do |msg|
            %li= msg
