= task_form_for task, :as => :task, url: perfectosape_scan_path, html: {class: 'task_params'} do |f|
  .snp_list
    %h5 Paste a list of sequences with SNPs in a textarea or select a file with sequences to scan
    .row.sequence_list
      .span6.snp_list_text= f.input :snp_list_text, :as => :text
    .row
      .span6.snp_list_file= f.input :snp_list_file, :as => :file
  .collection
    = f.input :collection, as: :motif_collection_selector

  Advanced options:
  .expand_button
    %a{href: '#'} [+]
  .advanced_options
    .pvalue_cutoff
      = f.input :pvalue_cutoff
    .fold_change_cutoff
      = f.input :fold_change_cutoff

  %br
  = f.submit 'Run', data: {disable_with: 'Sending request'}, class: 'btn btn-primary'
  = link_to perfectosape_scan_path, class: 'reset-task' do
    = f.button :button, 'Reset', :type => 'button', :class => 'btn btn-warning'
