= task_form_for task, :as => :task, html: {class: 'task_params'} do |f|
  .snp_list
    %h5 Paste a list of sequences with SNPs in a textarea or select a file with sequences to scan
    .row.sequence_list
      .span6.snp_list_text= f.input :snp_list, label: 'SNPs with flanking sequences (at least 25 nucleotides from each side)', :as => :text
    .row
      .span6.snp_list_file= f.input :snp_list_file, label: 'or load a file with SNP-sequences', :as => :file
  .collection
    = f.input :collection, label: 'TFBS motif collection:', include_blank: false

  Advanced options:
  .expand_button
    %a{href: '#'} [+]
  .advanced_options
    .pvalue_cutoff
      = f.input :pvalue_cutoff, label: 'P-value cutoff:'
    .fold_change_cutoff
      = f.input :fold_change_cutoff, label: 'Fold change cutoff:'

    = render partial:'shared/background_model', locals: {form_builder: f, background_variable: :background, background_title: ''}

  %br
  = f.submit 'Run', data: {disable_with: 'Sending request'}
