.result_data
  = download_link t('task_layout.download_results'), ticket, 'task_result.txt'
  = snp_scan_table(task_results, task_params)
.input_data
  %h5.collection_name
    Collection:
    %em= I18n.t "enumerize.collection.#{task_params.collection}"
  .snp_list
    .label
      SNP list
      = download_list ticket, {'txt' => 'snp_list.txt'}
    %pre= (task_params.snp_list.lines.size <= 5) ? task_params.snp_list : task_params.snp_list.lines.first(5).join("\n") + "\n...\n"
  = download_link t('task_layout.task_details'), ticket, 'task_params.yaml'
