= form_builder.fields_for background_variable do |background_form|
  .background_model
    .mode
      = background_form.input :mode, label: background_title, include_blank: false
    .gc_content
      = background_form.input :gc_content, label: 'GC-content:'
    .frequencies
      = background_form.fields_for :frequencies do |frequencies_form|
        = frequencies_form.input :a, label: 'A', wrapper: false
        = frequencies_form.input :c, label: 'C', wrapper: false
        = frequencies_form.input :g, label: 'G', wrapper: false
        = frequencies_form.input :t, label: 'T', wrapper: false
