= form_builder.fields_for "_bg_#{background_variable}" do |background_form|
  %div{ class: background_class, data: task.attribute_data(background_variable.to_sym) }
    .background_mode{ data: task.attribute_data("#{background_variable}_mode".to_sym) }
      = background_form.input "mode".to_sym, label: background_title, include_blank: false
    .background_gc_content{ data: task.attribute_data("#{background_variable}_gc_content".to_sym) }
      = background_form.input "gc_content".to_sym, label: 'GC-content:'
    .background_frequencies{ data: task.attribute_data("#{background_variable}_frequencies".to_sym) }
      = background_form.fields_for :frequencies do |frequencies_form|
        Background frequencies:
        = frequencies_form.input "a".to_sym, label: 'A', wrapper: false
        = frequencies_form.input "c".to_sym, label: 'C', wrapper: false
        = frequencies_form.input "g".to_sym, label: 'G', wrapper: false
        = frequencies_form.input "t".to_sym, label: 'T', wrapper: false
