Toy examples for the #{link_to 'simple', chipmunk_discovery_di_path(example: :simple) }, #{link_to 'weighted', chipmunk_discovery_di_path(example: :weighted) }, #{link_to 'peak', chipmunk_discovery_di_path(example: :peak) } data sets.
= task_form_for task, :as => :task, url: chipmunk_discovery_di_path, html: {class: 'task_params chipmunk_discovery'} do |f|
  .motif_discovery_options
    = f.input :sequence_weighting_mode, as: :sequence_weighting_mode_selector
  .sequence_list
    %h5 Paste a list of sequences in a textarea or select a file with sequences to scan
    .sequence_list
      .sequence_list_text= f.input :sequence_list_text, :as => :text
    .sequence_list_file= f.input :sequence_list_file, :as => :file

  Advanced options:
  .expand_button
    %a{href: '#'} [+]
  .advanced_options
    = f.input :speed_mode, as: :speed_mode_selector
    = f.input :min_motif_length, as: :integer, input_html: {min: 5, max: 23}
    = f.input :max_motif_length, as: :integer, input_html: {min: 5, max: 23}
    = f.input :occurences_per_sequence, as: :occurences_per_sequence_selector
    = f.input :motif_shape_prior, as: :motif_shape_prior_selector
    = f.input :gc_content, as: :gc_content_selector
  %br
  = f.submit 'Run', data: {disable_with: 'Sending request'}, class: 'btn btn-primary'
  = f.button :button, 'Reset', :type => 'reset', :class => 'btn btn-warning'
