.motif_logo
  .direct
    .label Primary motif:
    = link_to show_from_scene_path(id: ticket, filename: 'motif_direct.png') do
      = show_image(ticket, 'motif_small_direct.png')
  - unless single_stranded?
    .revcomp
      .label Reverse complement:
      = link_to show_from_scene_path(id: ticket, filename: 'motif_revcomp.png') do
        = show_image(ticket, 'motif_small_revcomp.png')

.matrices
  .pcm
    .label PCM
    %span.download= download_link 'Download', ticket, 'motif.dpcm'
    .help-icon.hint.has-tooltip{data: {toggle: 'tooltip', placement: 'right', title: t('matrices_rounded_hint')}}
    -# %pre><= chipmunk_infos.pcm.rounded(precision: 3)
  .pwm
    .label PWM
    %span.download= download_link 'Download', ticket, 'motif.dpwm'
    -# %pre><= chipmunk_infos.pwm.rounded(precision: 3)
  .ppm
    .label PPM
    %span.download= download_link 'Download', ticket, 'motif.dppm'
    -# %pre><= chipmunk_infos.ppm.rounded(precision: 3)

.threshold
  .label Threshold
  = chipmunk_infos.threshold.round(5)
.kdic
  .label KDIC
  = chipmunk_infos.kdic.round(5)
.weight
  .label Weight
  = chipmunk_infos.weight
.motif_length
  .label Motif (not occurence) length
  = chipmunk_infos.length
.diagnosis
  .label Diagnosis
  = chipmunk_infos.diagnosis
.iupac_consensus
  .label IUPAC consensus
  = chipmunk_infos.iupac_sequence
.background
  .label Background
  = chipmunk_infos.background.map{|el| el.round(5) }.join(', ')

.result_data
  .chipmunk_results= download_link t('task_layout.download_results'), ticket, 'task_result.txt'
  .occurences= download_link t('task_layout.download_occurences'), ticket, 'occurences.txt'
.input_data
  .show_task_params
    .download_sequences= download_link t('task_layout.sequences'), ticket, 'sequences.mfa'
    .download_params= download_link t('task_layout.task_details'), ticket, 'task_params.yaml'
