%h3 Contacts
%p
  Don't hesitate to contact us in case of any questions or suggestions:
  %ul
    %li Web interface: #{link_to 'Ilya Vorontsov', 'mailto:vorontsov.i.e _at_ gmail _dot_ com'}.
    %li MacroAPE and PerfectosAPE: #{link_to 'Ilya Vorontsov', 'mailto:vorontsov.i.e _at_ gmail _dot_ com'} or #{link_to 'Ivan Kulakovskiy', 'mailto:ivan _dot_ kulakovskiy _at_ gmail _dot_ com'}.
    %li ChIPMunk: #{link_to 'Ivan Kulakovskiy', 'mailto:ivan _dot_ kulakovskiy _at_ gmail _dot_ com'}.
  More information on our team: #{ link_to 'autosome.ru', 'http://autosome.ru/'}
