%h3 Welcome to the bioinformatics ‘Opera House’ opera.autosome.ru
– a web access to sequence motif analysis tools developed by the #{link_to 'autosome.ru', 'http://autosome.ru/'} team.
%br
%br
%p
  #{link_to 'MACRO-APE', macroape_path} and #{link_to 'PERFECTOS-APE', perfectosape_path} are available for motif comparison and regulatory SNV analysis.
%p
  #{link_to 'ChIPMunk', chipmunk_path} and #{link_to 'diChIPMunk', chipmunk_path} are available for motif discovery in nucleotide sequences.
%p
  You may also visit #{link_to 'HOCOMOCO', 'https://hocomoco.autosome.ru/'} database of transcription factor binding models (motifs) for human and mouse TFs and #{link_to 'EpiFactors', 'https://epifactors.autosome.ru/'} database of epigenetic regulators.
