= image_tag_if_exists 'macroape_logo.png', class: 'task_logo'
%h3 MACRO-APE: MAtrix CompaRisOn by Approximate P-value Estimation

%p
  MACRO-APE software allows efficient comparison of transcription factor
  binding models (often called motifs) represented as position weight
  matrices (PWMs, also known as Position Specific Scoring Matrices,
  PSSMs) with score thresholds.
%p
  The paper describing MACRO-APE in detail is #{link_to 'published', 'http://www.almob.org/content/8/1/23/abstract/'}
  in Algorithms for Molecular Biology.
%p
  Online interface is available #{link_to 'here', macroape_compare_path}.
%p
  Standalone command-line version (requires Java 1.6) is available for
  download (#{link_to 'binary', '/downloads/ape.jar'}, #{link_to 'sources', '/downloads/macro-perfectos-ape_src.jar'}).
%p
  Standalone version in ruby (a bit obsolete and slower) is available #{link_to 'here', 'http://autosome.ru/macroape/macroape_v4c.zip'}.
%p
  The program manual for ruby version is available #{link_to 'here', 'http://autosome.ru/macroape/macroape_v4_manual.pdf'}.
%p
  Program manual is available #{link_to 'here', '/downloads/MACRO-PERFECTOS-APE_manual.pdf'}.
%p
  Project page on #{link_to 'github', 'https://github.com/prijutme4ty/macro-perfectos-ape'}.
