= image_tag_if_exists 'macroape_logo.png', class: 'task_logo'
%h3 MACRO-APE: MAtrix CompaRisOn by Approximate P-value Estimation

%p
  #{content_tag :b, 'MACRO-APE'} software allows efficient comparison of transcription factor
  binding models (often called motifs) represented as position weight
  matrices (PWMs, also known as Position Specific Scoring Matrices,
  PSSMs) with score thresholds.
%p
  Online interface is available #{link_to 'here', macroape_compare_path, class: 'webface-link'}.
%p
  %b Please cite:
  .citation
    Jaccard index based similarity measure to compare transcription factor binding site models. Vorontsov et al., 2013, #{link_to 'PubMed', 'https://www.ncbi.nlm.nih.gov/pubmed/24074225'}

%p
  Standalone command-line version (requires Java 1.6) is available for
  download (#{link_to 'binary', '/downloads/ape.jar'}, #{link_to 'sources', '/downloads/macro-perfectos-ape_src.jar'}).
%p
  Standalone version in ruby (a bit obsolete and slower) is available #{link_to 'here', 'http://autosome.ru/macroape/macroape_v4c.zip'}.
%p
  The program manual for ruby version is available #{link_to 'here', 'http://autosome.ru/macroape/macroape_v4_manual.pdf'}.
%p
  Program manual is available #{link_to 'here', '/downloads/MACRO-PERFECTOS-APE_manual.pdf', class: 'manual'}.
%p
  Project page on #{link_to 'github', 'https://github.com/VorontsovIE/macro-perfectos-ape'}.
%p
  TFBS motif collections in the proper format can be downloaded #{link_to 'here', '/downloads/all_collections_pack.tar.gz'}.
