%h3 PERFECTOS-APE: PrEdicting Regulatory Functional Effect by Approximate P-value Estimation
%p
  PERFECTOS-APE
  software predicts possible regulatory role of single
  nucleotide variants (SNVs) or polymorphisms (SNPs). The main idea is
  that SNVs may be located directly within transcription factor binding
  sites and different SNV alleles can change binding affinity.
  PERFECTOS-APE efficiently tests SNVs against several collections of
  transcription factor binding site (TFBS) models represented as
  position weight matrices (PWM, PSSM).
%p
  #{link_to 'Web interface', perfectosape_scan_path} allows testing SNVs against several publically
  available TFBS models: #{link_to 'HOCOMOCO', 'http://autosome.ru/HOCOMOCO/'}, #{link_to 'JASPAR', 'http://jaspar.genereg.net/'}, #{link_to 'HT-SELEX', 'http://www.ncbi.nlm.nih.gov/pmc/articles/PMC2877582/'}, #{link_to 'SwissRegulon', 'http://swissregulon.unibas.ch/fcgi/sr'}, and #{link_to 'HOMER', 'http://homer.salk.edu/homer/motif/motifDatabase.html'}.
%p
  Standalone command-line version (requires Java 1.6) is available for
  download (#{link_to 'binary', '/downloads/ape.jar'}, #{link_to 'sources', '/downloads/macro-perfectos-ape_src.jar'}).
%p
  Program manual is available #{link_to 'here', '/downloads/MACRO-PERFECTOS-APE_manual.pdf'}.
%p
  Project page on #{link_to 'github', 'https://github.com/prijutme4ty/macro-perfectos-ape'}.
%p
  TFBS motif collections in proper format can be downloaded #{link_to 'here', '/downloads/all_collections_pack.tar.gz'}.
