!!!
%html
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    :plain
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6896924-8"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-6896924-8');
      </script>
    %title autosome.org Opera House: bioinformatics tools on the web
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body{data: {controller: params[:controller], action: params[:action]}}
    %header
      / .stop-the-war
      /   We, Russian scientists of the <i>autosome</i> team, are depressed by the dire events 
      /   caused by Russian military actions in Ukraine. 
      /   %br
      /   We express our condolences to all affected people and sincerely hope for a prompt transition to peace.
      = nav_bar responsive: true do
        = menu_group do
          = link_to root_path, class: 'autosome_logo' do
            = image_tag 'autosome_logo.png'
        = menu_group do
          = drop_down 'MACRO-APE' do
            = menu_item 'Compare two motifs', new_macroape_compare_path
            = menu_item 'Find similar motif', new_macroape_scan_path
            = menu_item 'Description', macroape_description_path
          = drop_down 'PERFECTOS-APE' do
            = menu_item 'rSNP TFBS annotation', new_perfectosape_scan_path
            = menu_item 'Description', perfectosape_description_path
          = drop_down 'ChIPMunk' do
            = menu_item 'Motif discovery', new_chipmunk_discovery_mono_path
            = menu_item 'Dinucleotide motif discovery', new_chipmunk_discovery_di_path
            = menu_item 'Description', chipmunk_description_path
          = drop_down 'Databases' do
            = menu_item 'HOCOMOCO – collection of TFBS motifs', 'https://hocomoco.autosome.org/'
            = menu_item 'EpiFactors – database for epigenetic regulators', 'https://epifactors.autosome.org/'
            = menu_item 'ADASTRA – database of allele-specific TF binding sites', 'https://adastra.autosome.org/'
          = menu_item 'Contacts', contacts_path
        = form_tag search_tasks_path, class: 'pull-right navbar-search navbar-form' do
          = label_tag do
            Ticket number:
            = text_field_tag 'id'
          = submit_tag 'Search'
    .container-fluid
      = yield
      .footer
        .grant Supported by RFBR grants 15-34-20423 and 16-34-01318.
    %footer
