!!!
%html
  %head
    %title autosome.ru Opera House: bioinformatics tools on the web
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      = nav_bar do
        = menu_group do
          = link_to root_path do
            = image_tag 'autosome_logo.png', class: 'autosome_logo'
        = menu_group do
          = drop_down 'MACRO-APE' do
            = menu_item 'Compare two motifs', new_macroape_compare_path
            = menu_item 'Scan for a motif', new_macroape_scan_path
            = menu_item 'Description', macroape_description_path
          = drop_down 'PERFECTOS-APE' do
            = menu_item 'rSNP functional annotation', new_perfectosape_scan_path
            = menu_item 'Description', perfectosape_description_path
        = form_tag search_tasks_path, class: 'pull-right navbar-search' do
          = label_tag do
            Ticket number:
            = text_field_tag 'id'
          = submit_tag 'Search'
    .container
      = yield
    %footer
